/** Loading Custom Fonts **/
/** ******************** **/
h1,
h2,
h3,
h4,
h5,
h6,
.paragraph-pre,
.paragraph_tagline {
  font-family: "poppinsbold", Roboto, Arial, sans-serif;
}
a {
  transition: opacity 0.14s ease-in-out;
}
div.block_testimonials {
  width: auto;
}
@font-face {
  font-family: 'poppinsbold';
  src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'), url('../fonts/poppins-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppinslight';
  src: url('../fonts/poppins-light-webfont.woff2') format('woff2'), url('../fonts/poppins-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.section-hero {
  overflow: hidden;
  position: relative;
}
.section-hero .block_top,
.section-hero .block_hero-content {
  z-index: 1;
  position: relative;
}
.section-hero .section-hero_img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.paragraph_tagline {
  font-size: 24px;
  opacity: .5;
  margin-bottom: 30px;
}
.paragraph_hero-text {
  font-size: 24px;
  font-family: "poppinslight", Roboto, Arial, sans-serif;
  line-height: 1.6;
}
.paragraph_text {
  color: #606f85;
  font-family: "poppinslight", Roboto, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.9;
}
.paragraph-pre {
  color: #673fbf;
  font-size: 16px;
  margin-bottom: 15px;
}
.heading_section {
  font-size: 42px;
  color: #29384d;
  position: relative;
  line-height: 1.33;
}
.heading_section:after {
  position: absolute;
  content: '';
  width: 68px;
  height: 3px;
  background-color: #673fbf;
  display: inline-block;
  left: 50%;
  margin-left: -34px;
  bottom: 0;
}
.block_top {
  padding-left: 60px;
  padding-right: 60px;
}
.block_top-cta {
  display: inline-block;
  float: right;
  color: #fff;
  text-decoration: none;
  position: absolute;
  right: 0;
  padding: 0 38px;
  border: 2px solid white;
  border-radius: 35px;
  top: 50%;
  height: 54px;
  line-height: 50px;
  margin-top: -32px;
}
.block_top-cta:hover {
  background-color: #fff;
  color: #673fbf;
}
.block_nav-link,
.block_top-cta {
  font-family: "poppinsbold", Roboto, Arial, sans-serif;
  text-transform: uppercase;
}
.block_nav-link {
  margin-right: 20px;
}
.block_nav-link:hover,
.logo:hover {
  opacity: .5;
}
.logo img {
  height: 23px;
}
h1.heading {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #fff;
  padding: 0 50px;
  font-size: 72px;
  text-align: center;
  line-height: 1.05;
}
.button_cta {
  position: relative;
  font-family: "poppinsbold", Roboto, Arial, sans-serif;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 38px 60px;
  background-color: #ffffff;
  color: #673fbf;
  text-transform: uppercase;
  font-size: 24px;
  border-radius: 100px;
}
.button_cta:hover {
  box-shadow: inset 0px 13px 32px rgba(0, 0, 0, 0.1);
}
.button_cta:before {
  content: '';
  position: absolute;
  border: 8px solid rgba(255, 255, 255, 0.25);
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
  border-radius: 100px;
}
.button_cta:hover:before,
.button_cta:active:before {
  top: -18px;
  right: -18px;
  bottom: -18px;
  left: -18px;
}
.button_cta.button_cta-contrast {
  background-color: #673fbf;
  color: #ffffff;
  box-shadow: 0px 22px 55px rgba(0, 0, 0, 0.15);
}
.button_cta.button_cta-contrast:before {
  border: 8px solid rgba(103, 63, 191, 0.25);
}
.button_cta.button_cta-contrast:hover {
  box-shadow: inset 0px 13px 32px rgba(0, 0, 0, 0.1);
}
.block_service {
  margin-top: 100px;
  top: -55px;
  position: relative;
  padding: 65px 45px 30px 45px;
}
.block_service .block_icon {
  position: absolute;
  top: -55px;
}
.block_row.block_row-s {
  text-align: center;
}
.block_row.block_row-s .block_service {
  text-align: left;
  float: none;
}
.section-about {
  padding-top: 140px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 17%, #f0f5fb 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(17%, #ffffff), color-stop(100%, #f0f5fb));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 17%, #f0f5fb 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #ffffff 17%, #f0f5fb 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 17%, #f0f5fb 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 17%, #f0f5fb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f5fb', GradientType=0);
}
.section-testimonials {
  padding-bottom: 140px;
  position: relative;
}
.section-testimonials .quotes-icon {
  position: absolute;
  top: 0;
  left: 320px;
}
.block_testimonial {
  background-color: #ffffff;
  border-radius: 6px;
}
.block_testimonial .block_testimonial-image {
  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -64px;
  display: inline-block;
  margin-left: -64px;
}
.block_testimonial .block_testimonial-image img {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.block_testimonial .block_testimonial-content {
  max-width: 720px;
  display: inline-block;
}
.block_testimonial .block_testimonial-content .paragraph_cite {
  margin-bottom: 0;
  font-family: "poppinsbold", Roboto, Arial, sans-serif;
}
.owl-carousel .owl-stage {
  padding-top: 65px;
}
.owl-carousel .owl-item {
  width: 860px !important;
}
.owl-nav,
.owl-dots {
  text-align: center;
  position: relative;
}
.owl-dots {
  z-index: 1;
  top: -26px;
}
.owl-dot {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #d7dbe0;
  border-radius: 6px;
  padding: 0;
  margin: 0 3px;
  outline: none;
}
.owl-dot.active {
  background: #606f85;
}
.owl-nav {
  margin-top: 45px;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
  z-index: 2;
  position: relative;
  outline: none;
  width: 32px;
  height: 32px;
  border: 1px solid #d8dce1;
  display: inline-block;
  border-radius: 32px;
  background: none;
  margin: 0 32px;
}
